.Projects {
    color: black;
    background-color: #3282b8;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

/* .Projects div {
    display: flex;
    padding: 20px;
    width: 40%;
    flex-flow: column;
} */

.Stage {
    width: 90%;
    height: 800px;
    perspective: 1200px;
    perspective-origin: 50% 50%;
    border-radius: 50%;
    background: black;
    display: inline-block;
    padding: 100px 0;
    
}


@media (max-height: 280px) and (max-width: 280px) {
    .Stage{
        width: 280px;
        height: 280px;
    }
}

@media (max-height: 280px) and (max-width: 280px) {
    .Stage{
        width: 280px;
        height: 280px;
    }
}

.Carousel {
    padding-top: 40px;
    transform-style: preserve-3d;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}

@media (max-height: 600px) and (max-width: 800px) {
    .Carousel {
        padding-top: 40px;
        align-items: center;
        justify-content: center;
    }

    .Middle {
        width: 10rem;
        right: 0;
    }

    .Before {
        width: 10rem;
        left: 0;
    }

    .After {
        width: 10rem;
        right: 0;
    }
}

@media (min-width: 0) and (max-width: 450px) {
    .Carousel {
        padding-top: 40px;
        align-items: center;
        justify-content: center;
    }

    .Middle {
        width: 10rem;
        right: 0;
    }

    .Before {
        display: none;
    }

    .After {
        display: none;
    }
}

.Middle {
    display: inline-flex;
    height: 100%;
    top: 50px;
    font-weight: bold;
    right: 50%;
}

.Before {
    display: inline-flex;
    height: 80%;
    top: 40px;
    left: 80px;
    transform: rotateY(-1.0rad) translateX(0px) translateZ(-20px);
    opacity:  1; 
}

.After {
    display: inline-flex;
    height: 80%;
    top: 40px;
    right: 80px;    
    transform: rotateY(1.047rad) translateX(0px) translateZ(-20px);
    opacity:  1;
}

.Controls :hover {
    background: none;
    
    align-content: center;
    outline-color: red;
}

.Controls {
    background: none;
    align-content: center;
}