.Map {
    text-align: center;
    margin: auto;
    height: auto;
    max-width: 100%;
    padding-left: 10px;
    background-image: url('https://lh3.googleusercontent.com/rvMIKne7Y329BTJf0vAzA9bNLxtoh6vfl2QWMJdj4Fk9HodeDSxDj5n74Q4vv5e5hsheOlRanBCgEyCDch0Ubj-n8xUcVb5FChGVxVbJaddvAjK4INDHbO8nFWk5v5MY3uEcTQcbtf8AW_Eja6Cs16Sc-JVnHxHdxmQDbqyIx3p0t8VCDdC8KrvYz_fFpv-paP3UgfLlgeZFg-O3f4P2WKYyZv4jXe2acDIycXR3BRl6NkR4OvOVnKoLqnYAI8vgAn2Afvlp7esmU9qhTYsFPt1W62j_J0vd-8SeSI6K1h-07s3gpW0N8Cd1ZLswKgj0OGhE7ZEfgm8-PpJVJZH4FTTnlycifZ6nLdaUz-NCp0hxPTa7yAgzOUkS5NFofQd1E6eSOfwGnHf16tfTNe349mA5gyglHsiJks9xArh_r0gGxop1agOnlP8rK47RpQAGUwU3NWqR_LeFXmzA1AzXcS1V08MOGiOlsp2TMxX0KYShjMvnNuRRGWzVk9TJ3w2OIbDbJWXOjVAvJza-zcVLbVuKt-ycnKr9_SgRvVzACCc63AIBFtNhi1kcbJzMiJ5UrruvUUOyJFCAj20J4rm9sFI5H8i1hT1RVE6l2PnJMJ9RBCQHBios6Mwl3kjDj9IfV6EtjLweSc15ixIVCBl7yHwBRVQvK0L9Vz1zlUUc9bpeXw9f3x3I-GA=w718-h637-no');
}

    
.Area :hover {
    cursor: pointer;
    height: auto;
    max-width: 100%;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: #e1e1e1;
    transition-property: color;
    transition-duration: 0.3s; */
}

.Area :hover::before {
    transform: scale(2);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    border-radius: 100%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.Header {
    text-align: center;
    max-width: 100%;
    color: rgb(103, 39, 223);
    height: auto;
}