.Map {
    text-align: center;
    margin: auto;
}
    
.Rio :hover {
    border: 1px solid white;
    cursor: pointer;
    vertical-align: middle;
    transform: scale(0);
    transition-duration: 0.3s;
    transition-property: color;
    overflow: hidden;
    position: absolute;
    background: #2098D1;
    border-radius: 50%;
    transition-timing-function: ease-out;
}