.Desktop {
    width: 100%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    display: flex;  
}

.Picture {
    width: 200px;
    height: 250px;
    text-align: center;
    margin: 10px auto;
    border-radius: 40px;
}

.BannerText {
    background-color: black;
    opacity: 0.8;
    width: 60%;
    margin: 10px auto;
    border-radius: 20px;
    display: grid;  
}

.BannerText h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
    padding-left: 30px;
}

.BannerText hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.BannerText p {
    color: white;
    font-size: 20px;
    padding: 5px;
}